PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/hontech
JWT_SECRET=supersecretjwtkey12345!
NODE_ENV=development

# Default User Passwords for Seeding
OWNER_PASSWORD=change_this_password
ADMIN_PASSWORD=change_this_password
STAFF_PASSWORD=change_this_password
SA_PASSWORD=change_this_password
TECH_PASSWORD=change_this_password
